{{ template "header" }}
    <div class="col-12">
        <h1 class="mb-4">{{ .Title }}</h1>

        {{ template "validation-errors-container" }}
        <form id="registration-form" 
            hx-post="/users/confirm" 
            hx-target="#registration-form" 
            hx-target-error="#validation-errors" 
            hx-indicator="#spinner"
            >
            <div class="mb-2">
                <label for="code">Namba uliyotumiwa Whatsapp</label>
                <input type="text" name="code" id="code" class="form-control" />
            </div>

            <input type="hidden" name="user_id" value="{{ .UserId }}" />

            <button type="submit" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
                Submit
            </button>
        </form>
    </div>
{{ template "footer" }}